@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "nml";
  src: url("../assets/fonts/NeueMachina-Light.otf");
}

@font-face {
  font-family: "nmr";
  src: url("../assets/fonts/NeueMachina-Regular.otf");
}

@font-face {
  font-family: "kh";
  src: url("../assets/fonts/Khaviax.otf");
}

@font-face {
  font-family: "jn";
  src: url("../assets/fonts/Fontspring-DEMO-juana-light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "nmr";
  height: 100%;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#main {
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  object-fit: cover;
}

/* block animations */
.blocks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#blocks {
  width: 105vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.block {
  width: 30px;
  height: 30px;
  border: 0.5px solid rgb(0, 0, 0, 0.05);
  transition: border-color 0.3s ease;
}

.highlight {
  border-color: #ff3f33;
  background-color: rgb(255, 63, 51, 0.25);
}
.comingSoon {
  position: relative;
}
.comingSoon::after {
  content: "Coming Soon 👾";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff3f33;
  border-radius: 1vw;
  position: absolute;
  backdrop-filter: blur(10px);
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 236, 198, 0.669);
}

.button1 {
  background-color: #ff3f33;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  font-family: "nml";
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff3f33;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button1::before {
  content: "";
  z-index: 0;
  background-color: white;
  mix-blend-mode: color-dodge;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
}

.button1:hover::before {
  transform: translate(-50%, -50%) scale(15);
}

.button1:hover {
  background-color: white;
  color: #ff3f33;
}

.button1 h3 {
  z-index: 1;
  position: relative;
  font-weight: 800;
}

.cd-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 3vw;
  background-color: #fc6;
  border-radius: 0 0 1vw 1vw;
  cursor: pointer;
  font-family: "nml";
  font-weight: 100;
  font-size: 1.1vw;
}

.button3 {
  background-color: #fc6;
  padding: 1vw 3vw;
  border: none;
  font-family: "nml";
  font-size: 1.4vw;
  border-radius: 5px;
  cursor: pointer;
}

#error {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

#error h1 {
  font-size: 5vw;
  font-weight: 600;
  color: #ff3f33;
}

#error p {
  font-size: 1.5vw;
  color: #333;
}

/* Nav bar */
#nav {
  margin: 1vw auto;
  border-radius: 1vw;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: #ffffffd0;
  border-bottom: 1px solid #ff3f33;
  box-shadow: 0 1px 30px #888;
  position: relative;
  z-index: 1000;
}

#nav-right{
  display: flex;
  align-items: center;
  gap: 2vw;
}
.menus{
  display: flex;
  gap: 2vw;
}
.menu{
  padding: 0.3vw;
  position: relative;
}

.menu::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff3f33;
  transition: width 0.3s ease;
}
.menu:hover::after{
  width: 100%;
}


.menus a {
  font-size: 1.2vw;
  font-weight: 400;
}


#logo {
  font-size: 2vw;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

#logo img {
  max-width: 2.5vw;
  object-fit: cover;
}
/* button is button1 */

/* COURSE */
#cor {
  width: 100%;
  padding: 0 6vw;
  padding-top: 10vw;
  position: relative;
  background: linear-gradient(180deg, #fff 0%, #ff3f33 100%);
}

.svg4 {
  position: relative;
  width: 110vw;
  position: absolute;
  top: -25vw;
  left: -5vw;
  pointer-events: none;
}

#lntxt {
  fill: #fff;
  font-size: 0.5vw;
}

#cor-top {
  margin-top: 4vw;
  position: relative;
}

#cor-top h1 span {
  color: #ff3f33;
}

#cor-top h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: 600;
}

#cor-top p {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 100;
  font-family: "nml";
}

#courses {
  margin-top: 5vw;
  padding-bottom: 20vw;
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));
  font-family: "nml";
  position: relative;
}

.bg-txt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  font-size: 25vw;
  line-height: 100%;
  background: -webkit-linear-gradient(#ff3f33, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.course {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 1vw 1vw 0 0;
  overflow: hidden;
  border-bottom: 1px solid #ff3f33;
  position: relative;
}

.course:first::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fff 0%, #ff3f33 100%);
}

.c-img {
  overflow: hidden;
  width: 100%;
}

.c-img img {
  transition: scale 0.2s ease-in-out;
  object-fit: cover;
  aspect-ratio: 4/2;
  width: 100%;
}

.course:hover .c-img img {
  scale: 1.05;
}

.course-body {
  padding: 2vw;
  padding-bottom: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.cd-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5vw;
}

.cd-top h4 {
  font-size: 1.2vw;
  font-weight: 100;
}

.cd-top h4 i {
  font-size: 1.5vw;
  font-weight: 400;
}

.cd-top h4:last-child i {
  color: rgb(255, 213, 0);
}

.cd-title h2 {
  font-size: 1.8vw;
  font-weight: 100;
}

.cd-inst {
  font-size: 1.2vw;
  font-weight: 100;
}

.cd-inst span {
  font-size: 1.4vw;
  font-weight: 600;
  color: #222;
}

.cd-btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 1vw 2vw;
}

.cd-price {
  font-size: 1.6vw;
  font-weight: 600;
  font-family: "nmr";
  color: #ff3f33;
}

/* footer */
#footer {
  padding: 2vw 6vw;
  margin-top: 5vw;
  border-top: 1px solid #000;
}

#footer-warper {
  display: grid;
  gap: 2vw;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-content: center;
}

#footer-warper h3 {
  font-size: 1.5vw;
  font-family: "jn";
  font-weight: 600;
}

#footer-warper li {
  list-style: none;
}

#footer-left {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;
}

#footer-left #fl-logo img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5/1;
  cursor: pointer;
}

#footer-right {
  display: flex;
  height: 100%;
  border-left: 1px solid #000;
}

#fr-social {
  border-left: 1px solid #000;
  padding: 0 2vw;
}

#fl-links {
  padding: 0 2vw;
}

#footer-warper ul {
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
  margin-top: 1.5vw;
}

#footer-warper ul i {
  font-size: 1.5vw;
}

#footer-warper ul a {
  font-size: 1.2vw;
  padding: 0.5vw;
  text-wrap: nowrap;
}

#footer-warper ul a:hover {
  color: #ff3f33;
}

#copyright {
  padding: 2vw;
  display: flex;
  gap: 5vw;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  border-top: 1px solid #000;
}

@media screen and (max-width: 800px) {
  /* btn */
  .button1 {
    padding: 0.5rem 1rem;
    border-radius: 1vw;
  }

  .button1 h3 {
    font-size: 1.2rem;
    /* height: 2rem; */
  }

  .cd-btn {
    padding: 3vw 5vw;
    border-radius: 0 0 2vw 2vw;
    font-size: 3vw;
  }

  #nav {
    margin: 3vw auto;
    padding: 2vw 5vw;
    width: 90%;
    border-bottom: 2px solid #ff3f33;
  }

  .menus{
    display: none;
  }
  #logo {
    font-size: 6vw;
    gap: 1vw;
  }

  #logo img {
    max-width: 7vw;
  }

  /* COURSE */

  #cor {
    padding-top: 15vw;
  }

  #ln {
    stroke-width: 25;
  }

  .svg4 {
    left: -10vw;
    width: 120vw;
  }

  #lntxt {
    font-size: 2vw;
  }

  #cor-top {
    margin-top: 5vw;
  }

  #cor-top h1 {
    font-size: 7vw;
    line-height: 8vw;
  }

  #cor-top p {
    font-size: 2.5vw;
  }

  #courses {
    gap: 3vw;
    grid-template-columns: 1fr;
  }

  .course {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    border-radius: 2vw 2vw 0 0;
  }

  .course-body {
    padding: 4vw;
    gap: 2vw;
  }

  .cd-top {
    padding-bottom: 1vw;
  }

  .cd-top h4 {
    font-size: 3vw;
  }

  .cd-top h4 i {
    font-size: 3vw;
  }

  .cd-title h2 {
    font-size: 5vw;
  }

  .cd-inst {
    font-size: 3vw;
  }

  .cd-inst span {
    font-size: 3.5vw;
  }

  .cd-price {
    font-size: 4vw;
  }

  /* footer */
  #footer {
    padding: 5vw 6vw;
  }

  #footer-warper {
    display: flex;
    flex-direction: column-reverse;
    gap: 5vw;
  }

  #footer-warper h3 {
    font-size: 7vw;
  }

  #footer-right {
    display: flex;
    width: 100%;
    border: none;
  }

  #footer-right * {
    width: 100%;
  }

  #footer-left {
    border-top: 1px solid #000;
    padding: 2vw 0;
  }

  #footer-warper ul {
    gap: 1vw;
    margin-top: 1.5vw;
  }

  #footer-warper ul i {
    font-size: 5vw;
  }

  #footer-warper ul a {
    font-size: 5vw;
    padding: 1vw;
  }

  #copyright {
    padding: 5vw;
    flex-direction: column;
    gap: 2vw;
    font-size: 3vw;
  }
}
