* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: #f1f1f1;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #333;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cta {
    backdrop-filter: blur(10px);
    background-color: #ff4141;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 7px 15px;
    z-index: 11;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    width: 100%;
    backdrop-filter: blur(5px);
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.5rem;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.logo img {
    max-width: 110px;
}



#main {
    width: 100%;
    height: 100%;
}

#hero {
    width: 100%;
    padding: 5rem 0 1rem 0rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

#left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#left h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: Lato, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    
}

#left p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #9c9fa3;
    font-size: 18px;
    text-transform: capitalize;
}

.button-box {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.button-box .cta {
    background-color: #ff4141;
    border-radius: .8rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.border-cta {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .02);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: .8rem;
    padding: 1rem 3rem;
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}


#right {
    flex: 1 1 50%;
    overflow: hidden;
}

#right img {
    width: 100%;
}

.blow {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #9c9fa3;
    font-size: 4vw;
    text-transform: capitalize;
}

.grid-2 {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid-2-item {
    background-color: #333;
    border-radius: 15px;
    padding: 50px;
    position: relative;
    border: 1px solid #ddd;
}

.grid-2-item::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ff4141, rgba(0, 0, 0, 0));
    /* margin:-10px; */
}


.grid-2 .text-span {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #9c9fa3;
    font-size: 2rem;
    /* background-color: red; */
}

.section-2 {
    padding: 2rem 1rem;
}

.heading-3 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
}

.heading-3.text-sm {
    font-size: 1.5rem;
    text-align: left;
}

.heading-3.text-bold {
    font-size: 2.5rem;
    font-weight: 700;
}

.grid-8 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 30px;
    justify-content: center;
    align-items: center;

}

.image-3 {
    border-radius: 10px;
}

.paragraph-2 {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5rem;
}

.div-block-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.paragraph-3 {
    font-size: 1.5em;
}

.border-cta.full-width {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.div-block {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    padding: 25px 25px 50px 25px;
    border-radius: 20px;
    gap: 1rem;
    height: 100%;
    position: relative;
    border: 1px solid #ddd;
    max-width: 33%;
}

/* .div-block::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 22px;
    background: linear-gradient(to bottom, #ff4141, rgba(0, 0, 0, 0));
    margin: -2px;
} */


.grid-9 {
    margin-top: 102px;
    display: flex;
}

.div-block-4 {
    flex: 1 1 60%;
    display: block;
    grid-template-columns: auto;
    gap: 1rem;
    align-items: center;
    height: 100%;
}


.paragraph.full-width {
    width: 100%;
    margin-top: 0;
}

.paragraph {
    width: 68%;
    color: #7d8490;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
    display: block;
}

.section-3 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-2 {
    flex: 1 1 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero-2 img{
    object-fit: cover;
}
#icn{
 padding: 10px;
 margin: 10px;
 border: 1px solid #ddd;
 backdrop-filter: blur(5px);
 width: 4rem;
 height: 4rem;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}
#icn-box{
 position: relative;
 top: -50%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.review-box{
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .02);
    border: 1px solid rgba(255, 255, 255, .08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-box p{
margin-top: 20px;
}
.review-box > p:last-child{
    width: 100%;
}
.user{
    width: 70px;
}


.section-3.footer {
    padding-bottom: 20px;
}

.div-block-19 {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    display: flex;
}

.container.container-3.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.heading-7 {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.paragraph-5 {
    color: rgba(236, 236, 236, .48);
    margin-top: 14px;
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.grid-12 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 90%;
    grid-template: "." /1fr 1fr 1fr;
}

.copyright-cotaniner {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid rgba(255, 255, 255, .06);
    margin: 20px auto;
}



@media (max-width:900px){
 .grid-8{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
 }
 .reviews{
   display: flex;
   flex-wrap: wrap;
 }
 .grid-9{
   display: grid;
   padding: 1rem;
 }
 .div-block{
 max-width: 100%;
 }
}


