@font-face {
 font-family: rejouice;
 src: url(/Rejouice-Headline.woff2);
}
@font-face {
 font-family: nb;
 src: url(/NBInternationalProBoo.woff2);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: Lato, sans-serif; */
    font-family: rejouice;
    text-decoration: none;
    color: #f1f1f1;
    -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-rendering: optimizeSpeed;
}
*:focus {
    outline: none;
  }



html,
body {
    width: 100%;
    height: 100%;
  background: rgb(238, 174, 202);

background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cta {
    text-align: center;
    background-color: rgba(138, 148, 254, 1);
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    text-align: center;
}


header {
    display: flex;
    width: 100%;
    backdrop-filter: blur(20px);
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.logo img {
    max-width: 120px;
}



#main {
   width: 100%;
   overflow-y: scroll;

    overflow-x: hidden;

    scroll-behavior: smooth;
    
}


#cursor{
 opacity: 0;
 height: 7.5vw;
 width: 7.5vw;
 /* background-color: #FF5F38; */
 border: 1px solid #FF5F38;
 border-radius: 50%;
 position: absolute;
 display: flex;
 align-items: center;
 
 justify-content: center;
}
#cursor #c2{
 height: 6vw;
 width: 6vw;
 /* background-color: #FF5F38; */
 border: 1px solid #FF5F38;
 border-radius: 50%;
 
}

#hero {
    width: 100%;
    padding: 5rem 0 1rem 0rem;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    
}
.hero-p{
 font-family: rejouice;
 font-size: 2em;
}
#left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#left h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: rejouice;
    font-size: 3rem;
    font-weight: 900;
    
}

#left p {
    text-align: center;
    color: #f1f1f1;
    font-size: 18px;
    text-transform: capitalize;
}

.button-box {
 width: 100%;
 padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  
}

.button-box .cta {
 width: 100%;
    background-color: rgba(138, 148, 254, 1);
    border-radius: .8rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.border-cta {
 width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #ddd;
    border-radius: .8rem;
    padding: 1rem;
    /* font-family: Lato, sans-serif; */
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
        color: rgba(138, 148, 254, .8);

}

.load{
    padding: 1rem;
    border: 5px solid rgba(138, 148, 254, 1);
    border-left-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
    animation: loading 0.3s infinite;
    margin: auto;
}
@keyframes loading {
    100%{
        rotate: 360deg;
    }
}
#loadbox{
    height: max-content;
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


#right {
    flex: 1 1 50%;
    overflow: hidden;
}

#right img {
    width: 100%;
}

.blow {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #f1f1f1;
    font-size: 4vw;
    text-transform: capitalize;
}

#page2 {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(76, 87, 210, 0.3);
    backdrop-filter: blur(20px);
    margin: 0 .5rem;
    border-radius: 20px;
    padding: 1rem;
}
#page2 h1 span,#page2 h1, #about-p, #about-p span {
    font-weight: 100;
    line-height: 1.3;
    width:100%;
    font-size: 1.2rem;
    color: #dadada69;
}


#intro {
 margin: auto;
 border-radius: 15px;
max-height: 70vh;
max-width: 90%;
object-fit: cover;
border: 5px solid #ddd;
box-shadow: 0 0 20px #ddd;
}


.section-2 {
    padding: 5rem 0;
}

.heading-3 {
    color: #fff;
    text-align: center;
    /* font-family: Lato, sans-serif; */
    font-size: 1.5rem;
    font-weight: 300;
}

.heading-3.text-sm {
    font-size: 1.5rem;
    text-align: left;
}

.heading-3.text-bold {
    font-size: 2.5rem;
    font-weight: 700;
}

.small-heading{
 margin-bottom: 2rem;
 padding: 1rem;
border-bottom: 1px solid #ddd;
}
.grid-8 {
    width: 100vw;
min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0 10px;
    justify-content: center;

}

.image-3 {
    border-radius: 10px;
}

.paragraph-2 {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
    color: #3d3d3d;
}

.div-block-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
  
}

.paragraph-3 {
    font-size: 1em;
    color: #3d3d3d;
    width: 100%;
   
}

.paragraph-3:nth-child(1){
text-align: left;
}


.paragraph-3:nth-child(2){

text-align: right;

}

.border-cta.full-width {
    width: 100%;
    text-align: center;
    margin-top: .5rem;
    color: rgba(138, 148, 254, .8);
    border-top: 1px solid #fff;
   
}
.border-cta a{
     color: rgba(138, 148, 254, .8);

}
.div-block .paragraph-2{
 min-height: 50px;
 max-width: 100%;
}
.div-block img{
width: 100%;}

.div-block {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(255, 255, 255, .2);
    
    flex-direction: column;
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    height: 100%;
    position: relative;
    border: 2px solid #ddd;
    max-width: 30%;
    min-width: 30%;
        box-shadow: 0 0 6px 3px #5662E357;

}

i{
     color: rgba(138, 148, 254, 1);

}

/* .div-block::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 22px;
    background: linear-gradient(to bottom, #ff4141, rgba(0, 0, 0, 0));
    margin: -2px;
} */


.grid-9 {
    margin-top: 102px;
    display: flex;
}

.div-block-4 {
    flex: 1 1 60%;
    display: block;
    grid-template-columns: auto;
    gap: 1rem;
    align-items: center;
    height: 100%;
}
.about-p{
 color: #f1f1f1;
 font-family: rejouice;
 font-size:1.5em;
}


.paragraph.full-width {
    width: 100%;
    margin-top: 0;
}

.paragraph {
    width: 68%;
    color: #f1f1f1;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    /* font-family: Lato, sans-serif; */
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
    display: block;
}

.section-3 {
   padding: 5rem 0;
}




.hero-2 {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-2 img{
    object-fit: cover;
}
.icn{
 padding: 10px;
 margin: 10px;
 border: 1px solid #ddd;
 backdrop-filter: blur(20px);
 width: 4rem;
 height: 4rem;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
     box-shadow: 0 0 6px 3px #5662E357;

}

#icn-box{
 position: absolute;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.review-box{
    padding: 25px 15px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        box-shadow: 0 0 6px 3px #5662E357;

}
.review-box {
margin-top: 10px;
}
.review-box > p:last-child{
    width: 100%;
    line-height: 1;
}
.user{
    width: 70px;
    margin-bottom: .5rem;
}

#page3{
 min-height: 100vh;
background: rgb(127, 137, 244, .5);
margin: 1rem;
border-radius: 15px;
box-shadow: 0 0 20px #7F89F4;
display: flex;
align-items: center;
justify-content: space-between;
font-family: nb;
padding: 20px 10px;
}
.thin-h{
 font-size: 1.6rem;
 font-weight: 300;
 text-align: center;
}

.bold-h{
 font-size: 2rem;
 text-align: center;
}
.thin-p{
 font-size: 1.2rem;
 text-align: center;
 opacity: .7;
 font-weight: 400;
}
.normal-p{
 font-size: 1rem;
 font-weight: 300;
 color: #fff;
 margin-top: 20px; 
 
}

#page3-left{
 width: 100%;
 height: 100%;
}
#page3-right{
 width: 100%;
 height: 100%;
}

#page3-right img{
 object-fit: cover;
 filter: drop-shadow(0 0 10px #ddd);
}
#name-temp{
padding: 1rem;
backdrop-filter: blur(20px);
margin: 0 10px;
border-radius: 20px;
position: relative;
z-index: 1;
top: -30px;
box-shadow: 0 0 20px #ddd;
 
}

.footer {
    padding: 10px;
    backdrop-filter: blur(5px);
    background:#5B66DC57;
}

.div-block-19 {
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    display: flex;
    border-bottom: 2px solid #ddd;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
     


}


.heading-7 {
    color: #fff;
    /* font-family: Lato, sans-serif; */
    font-size: 20px;
    line-height: 20px;
}
.paragraph-5 i {color: #ddd;}
.paragraph-5{
    color: #ddd;
    margin-top: 14px;
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.grid-12 {
    display: grid;
 

    width: 90%;
    grid-template: "." /1fr 1fr 1fr;
   
}

.copyright-cotaniner {
    width: 95%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid #ddd;
    margin: 20px auto;
}

.f-data{

 margin: 2rem 0;
}



#c-top{
padding-top: 6rem; 
display: grid;
grid-template-columns: 1fr 1fr;

}
#all-course{
 padding: 7rem 0;
min-height: 100vh
}


#c-left{
 width:100%;
 display:block;
 flex-wrap: wrap;
 align-items: center;
  padding: 1rem;

}

#c-name{
    font-size: 5rem;
 margin-bottom: .5rem;
 color: #3d3d3d;
 font-weight: 700;
}



#enroll{
 text-align: center;
width:100%;
display: flex;
}

#c-right{
 width: 100%;
 padding: 1rem;
}
#c-des{
 padding: 2rem 1rem;
 border-top: 1px solid #ddd;
 margin: 1rem;
 border-radius: 15px;
 background: #7780E5BA;
}
#des *{
    font-size: 2rem;
    line-height: 1.8em;
    font-family: 'Courier New', Courier, monospace !important;
    text-decoration: none;
    list-style: none;
   }
@media (max-width:800px){
 .grid-8{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
 }
 .reviews{
   display: flex;
   flex-wrap: wrap;
 }
 .grid-9{
   display: grid;
   padding: 1rem;
 }
 .div-block{
 max-width: 100%;
     min-width:100%;

 }
 .copyright-cotaniner {
  display: block;
  justify-content: center;
  align-items: center;
 text-align: center;
 }
 .grid-12{    color: rgba(138, 148, 254, .8);

  display: block;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 
 
 #intro {
   max-height: 40vh;
   max-width: 100%;
 }
 #page3{
  flex-wrap: wrap;
 }
 #c-top{
  grid-template-columns: 1fr;
 }
 #c-name{
 font-size: 1.5rem;

 }
   #des *{
    font-size: .9em;
    line-height: 1.5em;

   }
}

